/*------------- Tags -------------  */
i{
  font-size:29px;
  padding: 0 0 0 10px;
}

p{
  text-align:center;
  margin:5px 0px 5px;
  font-family: 'Anton', sans-serif;
}

/*-------------  classes -------------  */
/* navigation */
.navigation{
  padding: 10px 0 10px;
  background-color: black;
  color: white;
  border:solid 1px grey;
}

.navigation button{
  float: right;
  width: 40px;
  height: 30px;
  margin-right: 10px;
}

/* start section */
.start{
  /* Get the image */
  background-image: url("Images/background_image.jpg");
  background-color: black;
  /* Full height */
  height: 600px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.start p{
  text-align: center;
  font-size: 40px;
  color: white;
  margin-top: 50px;
}

.top{
  /* Full height */
  height: 200px;
}

.startSection{
  /* Full height */
  height: 200px;
  border-radius: 30px;
  background-color: rgba(50, 50, 50, .7);
}

/* Portfolio */
.portStart{
  /* Get the image */
  background-color: black;
  /* Full height */
  height: 600px;
  border-top:solid 5px lightgrey;
}

.name{
  font-size:80px;
  color:red;
}

.profileImg{
  /* Get the image */
  margin-top: 50px;
  background-image: url("Images/background_image.jpg");
  background-color: black;
  /* Full height */
  height: 500px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  border:solid 2px lightgrey;

}

.profileInfo{
  /* Get the image */
  margin-top: 50px;
  background-color: rgba(50, 50, 50, .7);
  /* Full height */
  height: 500px;
  border-radius: 30px;
  border:solid 2px lightgrey;
  margin-left: 20px;

}
/* Contact */
.portEnd{
  /* Get the image */
  background-color: black;
  /* Full height */
  height: 100px;
  border-top:solid 5px lightgrey;
}
